#jinja2: trim_blocks: False
#jinja2: lstrip_blocks: False

{% set state = item.state|default(default_switchport_state) %}

{% if state == 'absent' %}
interface {{ item.name }}
   switchport
 {# If we find existing switchport config, then default settings #}
 {# These default commands only run the first time absent is called #}
 {% set switchport_block = base_config | config_block('interface ' ~ item.name, indent=3) %}
   {% if switchport_block %}
    {% if switchport_block | join('\n') | re_search('^no switchport$') %}
   default ip address
    {% endif %}
   {% endif %}

{% elif state == 'present' %}
interface {{ item.name }}
   no switchport

 {% if 'address' in item %}
   ip address {{ item.address }}
 {% endif %}

 {% if 'mtu' in item %}
   mtu {{ item.mtu }}
 {% endif %}

{% endif %}
